<div class="container">
	
	<uib-accordion close-others="oneAtATime">
		<uib-accordion-group heading="Who" is-open="status.isFirstOpen" is-disabled="status.isFirstDisabled">
		  You!  Everyone from across the world is invited to join this festival by hosting an art show/event in Bushwick, or to attend!<br />
		  BAF is not run by the organization Arts in Bushwick, and is separate from their 'Bushwick Open Studios' event.  
		  
		</uib-accordion-group>
		<uib-accordion-group heading="What" >
		  Bushwick Arts Festival aims to be a world class art event that includes art shows based out of artists' private spaces, 
		  gallery events, and other related events taking place within the given boundaries.<br />
		  A map for all registered events will be available on this website!<br />
		  All registered events will have free entry.
		</uib-accordion-group>
		<uib-accordion-group heading="When" >
		 June 3-5 2016.  Events are suggested to take place after 6pm on Friday and noon-7pm on Saturday and/or Sunday. 
		</uib-accordion-group>
		<uib-accordion-group heading="Why" >
		 Arts In Bushwick started a tradition of holding an annual open studios event in the neighborhood 9 years ago.  <br />
		They have just announced moving their event to October.  <br />
		Due to strong interest of artists in having a June-based chance to share their art with the public, BAF aims to provide a new 
		opportunity for a large scale open studios/art event.  Unlike previous open studios events in the neighborhood, BAF will not exclude artists 
		that do not reside or work in Bushwick.

		</uib-accordion-group>
		<uib-accordion-group heading="Where" >
		Bushwick, Brooklyn, New York<br />
		Proposed Boundaries<hr />
		North: Metropolitan Ave<br />
		East: Onderdonk Ave<br />
		West: Manhattan Ave onto Broadway<br />
		Southeast: Decatur St
		</uib-accordion-group>
		<uib-accordion-group heading="How" >
		  Registration is completely free!  Follow the instructions under the registration tab!  
		</uib-accordion-group>
		
  </uib-accordion>
	
</div>