<div >
	<div class=container>
		<input style="width:35%; margin:2%; border-radius:10px;" type="text" placeholder="search artist, venue, or address!" data-ng-model="artistsearch" style="margin:15px;"></input>
		<ul style="padding:1%; margin-left:10%;">
			<li ng-repeat="artist in artists | filter:artistsearch | orderBy:'Artist'" >
			<p><strong>{{artist.Artist}} </strong>, {{artist.Venue}} , {{artist.Street}}</p>
			<!--<p>{{artist.Medium}}</p>-->
			<p>Friday: {{artist.Friday}}</p>
			<p>Saturday: {{artist.Saturday}}</p>
			<p>Sunday: {{artist.Sunday}}</p>
							
			</li>
		</ul>	
	</div>
</div>