

<div class="container">
	
	<div class="col-lg-12" >
		
	
		<div class="panel panel-default" style="padding:1%; text-align:center;">
			<div class="panel-header panel">
				The First Annual Bushwick Arts Festival will take place June 3-5, 2016
			</div>
		
			<div class="panel panel-primary" id="newcountdown" style="padding:2%; "></div>
				<div class="panel">
					Register today!<br />
					Like us on <a href="https://www.facebook.com/bushwickartsfestival/">Facebook</a> for updates!
				</div>
		</div>
		

		<div>
			<div class="container" style="border-radius:80; width:100%;">
				<div id="map" style="margin-left:-1%; margin-top:1%;">
				</div>
				<div id="repeat" ng-repeat="marker in markers | orderBy : 'Place'">
					<a  href="#" ng-click="openInfoWindow($event, marker)">
						<label id="names" >{{marker.Place}}</label></a>
				</div>
				
			</div>
		</div>						
	</div>



<div class="container ">
			<div class="col-md-6" style="text-align:center;"  >
				<img class="animated fadeIn" src="assets/img/bomb.png" alt="bushwickbomb" style="height:auto; margin-top:0%; width:100%; "></img>
				<p>Bushwick Arts Festival is proudly presented by BushwickBOMB.  <a href="http://www.bushwickbomb.com">Still ad free! Visit!</a></p>
				<p>BushwickBOMB is your opinionated source about the most interesting music and relevant happenings near or relevant to the Bushwick transplant universe.</p>
			</div>
			
			<div class="col-md-6" style="text-align:center;"  >
				<img class="animated fadeIn" src="assets/img/baflogo2016.png" alt="bushwickartsfestival" style="width:100%; margin-top:10px; padding:30px; "></img>
			</div>
			<p>contact: bushwickartsfestival@gmail.com</p>
			
</div>		
		

<script>
    CountDownTimer('06/03/2016 12:00 PM', 'newcountdown');
    function CountDownTimer(dt, id)
    {
        var end = new Date(dt);

        var _second = 1000;
        var _minute = _second * 60;
        var _hour = _minute * 60;
        var _day = _hour * 24;
        var timer;
        function showRemaining() {
            var now = new Date();
            var distance = end - now;
            if (distance < 0) {

                clearInterval(timer);

                return;
            }
            var days = Math.floor(distance / _day);
            var hours = Math.floor((distance % _day) / _hour);
            var minutes = Math.floor((distance % _hour) / _minute);
            var seconds = Math.floor((distance % _minute) / _second);
            document.getElementById(id).innerHTML = days + 'days ';
            document.getElementById(id).innerHTML += hours + 'hrs ';
            document.getElementById(id).innerHTML += minutes + 'mins ';
            document.getElementById(id).innerHTML += seconds + 'secs';
        }
        timer = setInterval(showRemaining, 1000);
    }

</script>



